// Label base style
@mixin label-base() {
  align-items: center;
  border-radius: $border-radius-sm;
  display: inline-flex;
  font-size: 85%;
  line-height: 1.2;
  padding: 0.15rem 0.2rem;
}

@mixin label-variant($color: $light-color, $bg-color: $primary-color) {
  background: $bg-color;
  color: $color;
}
