// Variables and mixins
@import "variables";
@import "spectre/mixins";

/*! Spectre.css | MIT License | github.com/picturepan2/spectre */
// Reset and dependencies
@import "spectre/normalize";
@import "spectre/base";

// Elements
@import "spectre/typography";
@import "spectre/buttons";
@import "spectre/forms";
@import "spectre/labels";
@import "spectre/media";
@import "spectre/codes";
@import "spectre/icons";

// Layout
@import "spectre/layout";

// Components
@import "spectre/avatars";
@import "spectre/cards";
// @import "spectre/dropdowns";
@import "spectre/empty";
// @import "spectre/menus";
// @import "spectre/modals";
// @import "spectre/navs";
// @import "spectre/pagination";
@import "spectre/toasts";
@import "spectre/tooltips";

// Utility classes
@import "spectre/animations";
@import "spectre/utilities";

// Variables
$pride-color-1: #fbf4ec !default;
$pride-color-2: #ecd7c8 !default;
$pride-color-3: #eea4bc !default;
$pride-color-4: #be88c4 !default;
$pride-color-5: #9186e7 !default;
$pride-color-6: #92c9f9 !default;
$pride-color-7: #c7f8ff !default;

/*! Web3bio.css | MIT License */
body {
  background: $light-color;
  font-size: 0.75rem;
  line-height: 1.75;
  overflow-x: hidden;
}

.web3bio-container {
  min-height: 75vh;
  overflow-x: hidden;
  padding: 0.5rem;
  scroll-behavior: smooth;
  width: 100vw;
}

//- Web3.bio Header
.web3bio-header {
  left: 0;
  position: fixed;
  top: 1rem;
  width: 100%;

  .column {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.web3bio-logo {
  align-items: center;
  background: $dark-color;
  border-radius: 0.8rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  color: $dark-color;
  cursor: pointer;
  display: flex;
  height: 3rem;
  padding: 0.4rem;
  position: relative;
  text-align: left;
  transition: all 0.3s ease;
  user-select: none;
  width: 3rem;
  z-index: 1;

  &:focus,
  &:hover {
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.2);
    color: $dark-color;
    text-decoration: none;
  }

  h1 {
    font-size: 0.8rem;
    font-weight: 900;
    letter-spacing: -0.05rem;
    line-height: 0.8rem;
    margin: 0;
  }
}

.web3bio-content {
  min-height: 50vh;

  .web3bio-content-title {
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 2rem;

    @media screen and (max-width: $size-md) {
      font-size: 1.2rem;
    }
  }
}

//- Profile Card
.profile-examples {
  display: flex;
  height: 14rem;
  margin: 0 -2rem;
  position: relative;
  width: 100%;

  @media screen and (max-width: $size-md) {
    transform: scale(0.75);
  }
}

.profile-card {
  background: $light-color;
  border: 0.05rem solid rgba($dark-color, 0.075);
  border-radius: 0.8rem;
  box-shadow:
    0 0.1rem 0.2rem rgba($dark-color, 0.04),
    0 0 2rem rgba($dark-color, 0.05);
  display: flex;
  flex: 1 0;
  flex-direction: column;
  left: 50%;
  padding: 1rem;
  position: absolute;
  top: 0.5rem;
  transition: transform 0.15s ease;
  width: 20rem;
  z-index: 1;

  &:nth-child(1) {
    transform: translateX(-110%) scale(0.95) rotate(-3deg);

    &:focus,
    &:hover {
      transform: translateX(-110%) scale(1) rotate(0);
    }
  }

  &:nth-child(2) {
    transform: translateX(-60%) scale(0.95) rotate(6deg);

    &:focus,
    &:hover {
      transform: translateX(-60%) scale(1) rotate(0);
    }
  }

  &:nth-child(3) {
    transform: translateX(-10%) scale(0.95) rotate(-3deg);

    &:focus,
    &:hover {
      transform: translateX(-10%) scale(1) rotate(0);
    }
  }

  &:nth-child(4) {
    transform: translateX(40%) scale(0.95) rotate(6deg);

    &:focus,
    &:hover {
      transform: translateX(40%) scale(1) rotate(0);
    }
  }

  .card-avatar {
    flex: 0;

    .avatar {
      background: $gray-color;
      box-shadow: inset 0 0 0 0.2rem rgba($light-color, 0.1);
      height: 2.4rem;
      width: 2.4rem;
    }
  }

  .card-content {
    flex: 1;
    padding: 0.5rem 0;
    width: 100%;
  }

  .card-name {
    font-size: 1rem;
    font-weight: 900;
    line-height: 1.2;
  }

  .card-identity {
    color: $gray-color;
    font-size: 0.65rem;
    margin-bottom: 0.5rem;
  }

  .card-description {
    font-size: 0.7rem;
    min-height: 1.25rem;
  }

  .card-badges {
    align-items: center;
    color: $gray-color-dark;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    font-size: 0.6rem;
    line-height: 1rem;
    gap: 0.2rem;

    .platform-badge {
      cursor: pointer;
      color: rgba($dark-color, 0.9);
      align-items: center;
      background-color: var(--badge-bg-color, rgba($dark-color, 0.05));
      border: 0.05rem solid transparent;
      border-color: var(--badge-bg-color, transparent);
      border-radius: 0.35rem;
      box-shadow: 0 0.05rem 0.1rem
        var(--badge-bg-color, rgba($dark-color, 0.05));
      display: flex;
      gap: 0.1rem;
      height: 1.4rem;
      max-width: 100%;
      padding: 0.25rem;
      text-decoration: none;
      transition: all 0.2s ease;

      &:focus,
      &:hover {
        box-shadow:
          inset 0 0 0.1rem rgba($dark-color, 0.15),
          0 0 0.6rem rgba($dark-color, 0.1);
      }

      &.active {
        box-shadow: inset 0 0 0.05rem rgba($dark-color, 0.25);
      }

      &.ens {
        background: lighten(#5298ff, 30%);
        border-color: lighten(#5298ff, 20%);

        .platform-badge-icon {
          color: #5298ff;
        }
      }

      &.lens {
        background: lighten(#6bc674, 35%);
        border-color: lighten(#6bc674, 25%);

        .platform-badge-icon {
          color: #6bc674;
        }
      }

      &.farcaster {
        background: lighten(#8465cb, 35%);
        border-color: lighten(#8465cb, 25%);

        .platform-badge-icon {
          color: #8465cb;
        }
      }

      .platform-badge-icon {
        align-items: center;
        border-radius: 0.7rem;
        display: flex;
        flex: 0 0 0.9rem;
        height: 0.9rem;
        justify-content: center;
        padding: 0.05rem;
        width: 0.9rem;
      }
    }
  }
}

//- Web3.bio Toast
.web3bio-toast {
  display: flex;
  justify-content: center;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
  text-align: center;
  top: 1rem;
  width: $size-xs;
  z-index: 9999;

  .toast {
    animation: slide-down 0.25s ease 1;
    max-width: $size-xs;
  }
}

.web3bio-placeholder {
  background: rgba(darken($primary-color, 10%), 0.01);
  box-shadow: inset 0 0 4rem rgba($dark-color, 0.2);
  backdrop-filter: blur(2rem) saturate(120%) brightness(100%);
}

//- Web3.bio Footer
.web3bio-footer {
  color: rgba($dark-color, 0.5);
  font-size: 0.7rem;
  font-weight: 500;
  padding: 0.5rem;
  position: sticky;
  z-index: 99;
  top: 90vh;
}

//- Pride
.text-pride {
  background-image: linear-gradient(
    70deg,
    $pride-color-1 10%,
    $pride-color-2 25%,
    $pride-color-3 36%,
    $pride-color-4 50%,
    $pride-color-5 63%,
    $pride-color-6 75%,
    $pride-color-7 90%
  );
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-pride {
  background: linear-gradient(
    70deg,
    $pride-color-1 -10%,
    $pride-color-2 5%,
    $pride-color-3 36%,
    $pride-color-4 50%,
    $pride-color-5 63%,
    $pride-color-6 95%,
    $pride-color-7 110%
  );
}

.border-pride {
  border: 0.05rem solid transparent;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(
        70deg,
        $pride-color-1 -10%,
        $pride-color-2 5%,
        $pride-color-3 36%,
        $pride-color-4 50%,
        $pride-color-5 63%,
        $pride-color-6 95%,
        $pride-color-7 110%
      )
      border-box;
}

.img-placeholder {
  align-items: center;
  display: flex;
  flex: 0 0;
  justify-content: center;
  opacity: 0.75;
  padding: 0.25rem;
  position: relative;

  &[data-initial]::before {
    color: $light-color;
    content: attr(data-initial);
    font-size: 0.5em;
    font-weight: 700;
    line-height: 0.5em;
    text-shadow: 0 0.1rem 0.4rem rgba($dark-color, 0.2);
    text-transform: uppercase;
    z-index: $zindex-0;
  }
}

.tooltip-copy {
  background: rgba($dark-color, 0.85);
  border-radius: 0.3rem;
  bottom: 100%;
  color: $light-color;
  display: block;
  font-size: 0.6rem;
  line-height: 0.6rem;
  left: 50%;
  padding: 0.25rem 0.3rem;
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, 0);
  z-index: $zindex-3;
}

.noscrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}

.web3bio-share-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

// Docs
.hljs {
  color: #383a42;
  background: #fafafa;
}

.hljs-comment,
.hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #a626a4;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e45649;
}

.hljs-literal {
  color: #0184bb;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
  color: #50a14f;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #986801;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #4078f2;
}

.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: #c18401;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
